{% extends 'app/base.html' %}
{% block contenido %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>Registro | Hotel Le Belle Mar</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Fuentes y Estilos -->
    <link rel="stylesheet" href="{% static 'app/css/accounts.css' %}" />
</head>
<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="wrap d-md-flex">
                        <!-- Sección de Bienvenida con Imagen de Fondo -->
                            <!-- Fondo y texto -->
                            <section id="" class="text-wrap p-4 p-lg-5 d-flex hero text w-100" data-aos="fade-up" data-aos-delay="100">
                                <img src="{% static 'app/img/bg_login.jpg'%}" alt="" data-aos="fade-in" class="text w-100">
                                <div class="container text w-100" data-aos="fade-up" data-aos-delay="100">
                                    <p>Regístrate en el sitio y visita las más lujosas habitaciones de nuestro hotel.</p>
                                </div>
                            </section><!-- Fondo y texto -->
                        <!-- Sección de Registro -->
                        <div class="login-wrap p-4 p-md-5" data-aos="fade-up" data-aos-delay="100">
                            <div class="row justify-content-center py-md-5">
                                <div class="col-lg-9">
                                    <div class="social-wrap">
                                        <h2 class="mb-4">Bienvenido a Hotel Le Belle Mar</h2>
                                        <h3 class="mb-3 text-center">Iniciar sesión</h3>

                                    </div>
                                    <form action="" method="POST" class="signin-form">
                                        {% csrf_token %}
                                        {{ form | crispy }}
                                        <button type="submit" class="btn btn-success mb-3" value="registrar">Registrar</button>
                                    </form>
                                    <div class="w-100 text-center">
                                        <p class="mt-4">¿Ya tienes cuenta? <a href="{% url 'login' %}">Inicia sesión</a></p>
                                        <p><a href="{% url 'password_reset' %}">¿Olvidó su contraseña?</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Fin Sección de Registro -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
{% endblock %}


